<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ppzhu.mapper.ElderlyProfileMapper">

    <insert id="insertElderlyProfile">
        insert into elderly_profiles (elderly_id, user_id, elderly_name, age, gender, marital_status,
                                      elderly_phone, room_number, bed_number, livability_ratings,
                                      elderly_condition, mental_state, created_by, created_at, updated_by,
                                      updated_at,identity_cards)
        values (default,#{userId},#{elderlyName},#{age},#{gender},#{maritalStatus},#{elderlyPhone},
                #{roomNumber},#{bedNumber},#{livabilityRatings},#{elderlyCondition},#{mentalState},
                #{createdBy},#{createdAt},#{updatedBy},#{updatedAt},#{identityCards});
    </insert>

    <update id="updateElderlyProfile">
        update elderly_profiles
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="elderlyName != null and elderlyName != ''">
                elderly_name = #{elderlyName},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="gender != null and gender != ''">
                gender = #{gender},
            </if>
            <if test="maritalStatus != null and maritalStatus != ''">
                marital_status = #{maritalStatus},
            </if>
            <if test="elderlyPhone != null and elderlyPhone != ''">
                elderly_phone = #{elderlyPhone},
            </if>
            <if test="roomNumber != null and roomNumber != ''">
                room_number = #{roomNumber},
            </if>
            <if test="bedNumber != null and bedNumber != ''">
                bed_number = #{bedNumber},
            </if>
            <if test="livabilityRatings != null and livabilityRatings != ''">
                livability_ratings = #{livabilityRatings},
            </if>
            <if test="elderlyCondition != null and elderlyCondition != ''">
                elderly_condition = #{elderlyCondition},
            </if>
            <if test="mentalState != null and mentalState != ''">
                mental_state = #{mentalState},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt},
            </if>
            <if test="identityCards != null and identityCards != ''">
                identity_cards = #{identityCards}
            </if>
        </set>
        where elderly_id = #{elderlyId}
    </update>

    <delete id="deleteElderlyProfile">
        delete from elderly_profiles
        where elderly_id = #{elderlyId}
    </delete>

    <select id="selectElderlyProfileById" resultType="org.ppzhu.pojo.ElderlyProfile">
        select
            elderly_id, user_id, elderly_name, age, gender, marital_status,
            elderly_phone, room_number, bed_number, livability_ratings,
            elderly_condition, mental_state, created_by, created_at, updated_by,
            updated_at,identity_cards
        from elderly_profiles
        where elderly_id = #{elderlyId}
    </select>

    <select id="selectElderlyProfileByUserId" resultType="org.ppzhu.pojo.ElderlyProfile">
        select
            elderly_id, user_id, elderly_name, age, gender, marital_status,
            elderly_phone, room_number, bed_number, livability_ratings,
            elderly_condition, mental_state, created_by, created_at, updated_by,
            updated_at,identity_cards
        from elderly_profiles
        where user_id = #{userId}
    </select>

<!--    查询所有老人的信息-->
    <select id="selectElderlyProfileLists" resultType="org.ppzhu.pojo.ElderlyProfile">
        select
            elderly_id, user_id, elderly_name, age, gender, marital_status,
            elderly_phone, room_number, bed_number, livability_ratings,
            elderly_condition, mental_state, created_by, created_at, updated_by,
            updated_at,identity_cards
        from elderly_profiles
        <where>
            <if test="elderlyName != null and elderlyName != ''">
                elderly_name = #{elderlyName}
            </if>
            <if test="identityCards != null and identityCards != ''">
                and identity_cards like concat('%',#{identityCards} ,'%')
            </if>
        </where>
    </select>


</mapper>