<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ppzhu.mapper.UserMapper">

    <insert id="insertUser">
        insert into users (user_id, username, password, email, phone, is_active, remark, created_by, created_at,
                           updated_by,
                           updated_at)
        values (default, #{username}, #{password}, #{email}, #{phone}, #{isActive}, #{remark}, #{createdBy},
                #{createdAt}, #{updatedBy}, #{updatedAt});
    </insert>

    <update id="updateUser">
        update users
        <trim prefix="set" suffixOverrides=",">
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="isActive != null">
                is_active = #{isActive},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt},
            </if>
        </trim>
        <where>
            user_id = #{userId}
        </where>
    </update>

    <delete id="deleteUser">
        delete from users
        where user_id = #{userId}
    </delete>

    <select id="selectUserById" resultType="org.ppzhu.pojo.User">
        select
            user_id, username, password, email, phone, is_active, remark, created_by, created_at,
            updated_by,
            updated_at
        from users
        where user_id = #{userId}
    </select>

    <select id="selectUserByUsername" resultType="org.ppzhu.pojo.User">
        select
            user_id, username, password, email, phone, is_active, remark, created_by, created_at,
            updated_by,
            updated_at
        from users
        where username = #{username}
    </select>

    <select id="selectAllUser" resultType="org.ppzhu.pojo.User">
        select
            user_id, username, password, email, phone, is_active, remark, created_by, created_at,
            updated_by,
            updated_at
        from users
        <where>
            <if test="username != null and username != ''">
                username = #{username}
            </if>
            <if test="phone != null and phone != ''">
                phone like concat('%',#{phone},'%')
            </if>
            <if test="isActive != null and isActive != ''">
                and is_active = #{isActive}
            </if>
        </where>
    </select>

</mapper>